
body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #424242;
}

#add-task-container{
    width: 350px;
    padding: 20px 10px;
    background-color: #0b0b0b;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    margin-bottom: 20px;
}

input{
    flex: 5;
    margin-right: 10px;
    border-radius: 5px;
    padding : 5px;
    background-color: #191a1b;
    color: #fff;
}

#add-task{
    border-radius: 5px;
    background-color: #6a00ff;
    color: #fff;
    border: none;
    cursor: pointer;
}

#add-task:hover{
    background-color: #4d0099;

}

.task{
    color: #fff;
    width: 100%;
    background-color: #191a1b;
    border-radius: 5px;
    box-shadow: 0 0 3px ;

    padding: 5px;
    margin-bottom: 5px;

    display: flex;
    justify-content: space-between;
}

.task li{
    list-style: none;
    flex: 4;
    padding: 5px;
    margin: 10px;
    font-size: 24px;
}

.task button{
    flex: 1;
    border: none;
    background-color: #191a1b;
    border-radius: 5px;
    cursor: pointer;
    
}

.task .checkTask{
    color: orange;
    margin-right: 5px;
    border: solid 1px orange;
    font-size: 16px;
}

.task .deleteTask{
    color: red;
    border: solid 1px red;
    font-size: 16px;
}

.task .checkTask:hover{
    background-color: orange;
    color: #fff;
}

.task .deleteTask:hover{
    background-color: red;
    color: #fff;
}